.editor{
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
.query-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin-right: 5%;
}
.code-mirror-wrapper
{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80%;
    width: 100%;
}
