.editor{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.query-input{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 90%;
}
.code-mirror-wrapper
{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80%;
    width: 100%;
}
