.query-wrapper{
    height: 60%;
}
.query-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.search-bar{
    display: flex;
    justify-content: center;
}
.search-bar > input{
    width: 80%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}
