.query-results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    height: 50%;
    width: 90%;
    
}
.query-input > input{
    height: 200px;
    width: 400px;
}
.placeholder-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.placeholder-text > p {
    font-size: 3rem;
    color: grey;
}
.query-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.export-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
}