@media(max-width:768px){
    .tab-bar{
        height: 150px;
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom: solid 1px var(--primary-color);
    }
    .tabs{
        display: flex;
        width: 200px;
        height: 40px;
    }
}

@media(min-width:768px)
{
    .tab-bar{
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom: solid 1px var(--primary-color);
    }
    .tabs{
        display: flex;
        width: 15%;
    }
}
