
.editor-page{
    display: flex;
    height: 100%;
}
.side-panel{
    width: 30%;
height: 100%;
}
.saved-query-panel{
    overflow-y: scroll;
    height: 30%;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    
}
.history-query-panel{
    overflow-y: scroll;
    height: 30%;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    
}
.editor-components{
    width: 70%;
    display: flex;
    flex-direction: column;
}