
.editor-page{
    display: flex;
    height: 100%;
}
.side-panel{
    background-color: #f2f2f2;
display: flex;
flex-direction: column;
justify-content: flex-start;
width: 30%;
height: 100%;
}
.saved-query-panel{
    overflow-y: auto;
    height: 30%;
    width: 100%;
    margin-bottom: 10%;  
}
.heading
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10%;
    margin-right: 10%;
    font-size: x-large;
}
.heading > svg
{
    margin-right: 5px;    
}
.history-query-panel{

    overflow-y: auto;
    height: 30%;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    
}
.editor-components{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
}