.home-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #E8E9FB;
  width: 100%;
  min-height: 100vh;
}
.body {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.features-wrapper{
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.features-wrapper > img
{
  height:40%;
}
.features{
  display: flex;
  flex-direction: column;
}
.feature{
  display: flex;
  flex-direction: row;
  align-items: center;
}